<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Account Management</h4>
            </div>
            <div class="col-7 align-self-center">
                <div class="d-flex align-items-center justify-content-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Account Management</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">
                        <div>
                            <h4 class="card-title">List of @Users</h4>
                            <h6 class="card-subtitle">Here is a list of users on system.</h6>
                        </div>
                        <div class="admin-add-user pr-4">
                            <a href="/admin/account-manage/add-user" class="btn btn-success">
                                <i class="mdi mdi-account-plus pr-1"></i>
                                Add new User
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Password</th>
                                    <th scope="col">Date Created</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <th scope="row">{{sum @index 1}}</th>
                                    <td>{{this.name}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.password}}</td>
                                    <td style="max-width: 230px;">{{this.createdAt}}</td>
                                    <td>{{this.role}}</td>
                                    <td>
                                       <a href="/admin/account-manage/{{this._id}}/edit" class="btn btn-primary a-no-color"><i class="mdi mdi-account-edit"></i> Edit</a>
                                        <a class="btn btn-danger a-no-color" data-toggle="modal" data-target="#confirm-delete-user" data-id="{{this._id}}"><i class="mdi mdi-account-remove"></i> Delete</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        All Rights Reserved by PhongTroTot - Team 3
        <a href="/">PhongTroTot</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

{{!-- Modal confirm delete news --}}

<!-- Modal -->
<div class="modal fade" id="confirm-delete-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="color: #000; font-size: 18px;">Delete User</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 16px;">
        <div style="margin-bottom: 0px; color: #222">Are you sure to delete this user?</div>
        <small style="color: red; font-style: italic;">Note: This action cannot be undone.</small>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-user" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


{{!-- Form hidden delete --}}
<form method="POST" name="form-delete-user"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        let id;
        let formDeleteUser = document.forms['form-delete-user'];
        
        $('#confirm-delete-user').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            id = button.data('id') // Extract info from data-* attributes
        });
        $('#btn-delete-user').on('click', function(){
            formDeleteUser.action = `/admin/user/${id}?_method=DELETE`;
            formDeleteUser.submit();
        });
    });
</script>