
<div id="carouselExampleIndicators" class="carousel slide carousel-navheader" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="img-cover"></div>
            <img class="d-block w-100 w-100-cus carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_style_design_metropolis_home_living_space_76284_1400x1050.jpg"
                alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="typewriter">Manage Acommodation</h3>
                <p class="animate__animated animate__fadeInUp animate__delay-1s">WE ARE CREATIVE</p>
                <button type="button"
                    class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-4s">Explore</button>
                <div class="scroll-container">
                    <div class="scroll-down">
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <span class="text-scroll">Scroll down</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-cover"></div>
            <img class="d-block w-100 w-100-cus carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_design_furniture_living_room_style_70162_1400x1050.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="animate__animated animate__fadeInUp animate__delay-1s">Find Partner</h3>
                <p class="animate__animated animate__fadeInUp animate__delay-2s">WE ARE CREATIVE</p>
                <button type="button"
                    class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-3s">About
                    Us</button>
                <div class="scroll-container">
                    <div class="scroll-down">
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <span class="text-scroll">Scroll down</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-cover"></div>
            <img class="d-block w-100 w-100-cus carousel-img"
                src="https://images.wallpaperscraft.com/image/interior_design_sofa_coffee_tables_113658_1400x1050.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="animate__animated animate__backInDown animate__delay-1s">Find Acommodation</h3>
                <p class="animate__animated animate__fadeInUp animate__delay-2s">WE ARE CREATIVE</p>
                <button type="button"
                    class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-3s">Contact</button>
                <div class="scroll-container">
                    <div class="scroll-down">
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <div class="chevron"></div>
                        <span class="text-scroll">Scroll down</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container">
    <div class="search-title">
        <h3 class="search-title-h3"><span>Search</span>something</h3>
        <p class="search-title-desc">Lorem ipsum dolor sit amet consectetur.</p>
        <div class="line-text">
            <div class="line-text-icon"><i class="fas fa-search"></i></div>
        </div>

    </div>
</div>
</div>

<div class="container">
    <div class="map-search">
        <div class="search-bar-container">
            <div class="search-bar">
                <input class="form-control mr-sm-2 mb25 search-keyword" type="search"
                    placeholder="Search by keyword" aria-label="Search">

                <select id="province" class="custom-select mb25">
                    <option selected>Province/City</option>
                </select>

                <select id="district" class="custom-select mb25">
                    <option selected>District</option>
                </select>

                <select id="ward" class="custom-select mb25">
                    <option selected>Ward</option>
                </select>

                <select id="price" class="custom-select mb25">
                    <option selected>Price (VND)</option>
                    <option value="1">
                        < 1 milion</option>
                    <option value="2">1 - 2 milion</option>
                    <option value="2">2 - 3 milion</option>
                    <option value="2">3 - 5 milion</option>
                    <option value="2">5 - 7 milion </option>
                    <option value="2">7 - 10 milion</option>
                    <option value="2">> 10 milion </option>
                </select>
                <div class="area-range">
                    <div class="area-desc">
                        <i class="fas fa-chart-area"></i>
                        <span class="span-area">Area(m)</span>
                    </div>
                    <div class="range">
                        <div class="sliderValue">
                            <span class="area-span">100</span>
                        </div>
                        <div class="field">
                            <div class="value left">0</div>
                            <input class="area-input" type="range" min="10" max="200" value="100" steps="1">
                            <div class="value right">200</div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-form-search">Search</button>
            </div>
        </div>
        <div class="map-responsive">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d43378.64499950561!2d108.19472693280031!3d16.056834217620402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zbmjDoCB0cuG7jQ!5e0!3m2!1svi!2s!4v1604989500052!5m2!1svi!2s"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>

<div class="icon-bar">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="google"><i class="fa fa-google"></i></a>
    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>


<div class="container">
    <div class="search-title">
        <h3 class="search-title-h3"><span>News</span>page</h3>
        <p class="search-title-desc">Lorem ipsum dolor sit amet consectetur.</p>
        <div class="line-text">
            <div class="line-text-icon"><i class="fas fa-newspaper"></i></div>
        </div>

    </div>
</div>

<div class="news-container container">

    <div class="row">
        {{#each news}}
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="news-card">
                <div class="map-detail map-detail-{{this.mapId}}">
                    <div class="map-back map-back-{{this.mapId}}">
                        <i class="fas fa-angle-left"></i>
                        <span>Back</span>
                    </div>
                    
                    
                    <div class="map-respon">
                        <iframe src="{{this.map}}" width="350" height="370" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>

                    
                </div>
                
                <img src="{{this.img}}" alt="{{this.img}}" class="news-card__img-cover">
        
                <div class="card-title--top">
                    <div class="card-title-top-right">
                        <div class="card-title-top__sale">Rental</div>
                        <div class="card-title-top__feature">{{this.kindOfNews}}</div>
                    </div>
                    <div class="card-title-top-left">
                        <div class="card-title-top__heart" onclick="bootstrapAlert()">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="card-title-top__map top__map-{{this.mapId}}">
                            <i class="fas fa-map-marked-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="card-bot-container">
                    <a href="/news/{{this.slug}}" class="link-to-detail-page">
                        <div class="card-title--bot">
                            <span class="card-price">
                                <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                                {{this.price}}
                                <sub>/Tháng</sub>
                            </span>
                            <h4 class="card-title-name">{{this.title}}</h4>
                            <div class="card-location">
                                <i class="fas fa-map-marker-alt"></i>
                                {{this.location}}
                            </div>
                        </div>
                    </a>
                    <ul class="card-detail">
                        <li><span><i class="fas fa-ruler-combined"></i></span>{{this.overview.area}}m<sup>2</sup></li>
                        <li><span><i class="fas fa-phone-alt"></i></i></span>{{this.host.phoneNumber}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="card-see-more"><a href="#">See More ...</a></div>
</div>

<div class="container">
    <div class="search-title">
        <h3 class="search-title-h3"><span>Hot</span>news</h3>
        <p class="search-title-desc">Lorem ipsum dolor sit amet consectetur.</p>
        <div class="line-text">
            <div class="line-text-icon"><i class="fas fa-newspaper"></i></div>
        </div>

    </div>
</div>

<div class="container">
    <div class="news-grid-container">
        <div class="grid-left">
            <div class="grid-left-top">
                <div class="grid-left-top-left">
                    <div class="news-card w-h-100">
                        <div class="map-detail map-detail-7">
                            <div class="map-back map-back-7">
                                <i class="fas fa-angle-left"></i>
                                <span>Back</span>
                            </div>
                            <div class="mapouter">
                                <div class="gmap_canvas map-100"><iframe width="411" height="273" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=82%20H%C3%A0%20Huy%20T%E1%BA%ADp%20Thanh%20Kh%C3%AA%20&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://www.embedgooglemap.net"></a></div>
                                <style>
                                    .mapouter {
                                        position: absolute;
                                        text-align: right;
                                        height: 273px;
                                        width: 411px;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 273px;
                                        width: 411px;
                                    }
                                </style>
                            </div>
                        </div>
                        <img src="https://wedo.vn/wp-content/uploads/2019/11/thiet-ke-phong-tro-dep-6.jpg" alt=""
                            class="news-card__img-cover">
                        <div class="card-title--top">
                            <div class="card-title-top-right">
                                <div class="card-title-top__sale">Rental</div>
                            </div>
                            <div class="card-title-top-left">
                                <div class="card-title-top__heart" onclick="bootstrapAlert()">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="card-title-top__map top__map-7">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-container">
                            <div class="card-title--bot">
                                <span class="card-price">
                                    <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                                    2 triệu 5
                                    <sub>/Tháng</sub>
                                </span>
                                <h4 class="card-title-name">Phòng trọ sinh viên</h4>
                                <div class="card-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    82 Ha Huy Tap, Thanh Khe, Da Nang
                                </div>
                            </div>
                            <ul class="card-detail">
                                <li><span>2</span>Bedrooms</li>
                                <li><span>2</span>Bathrooms</li>
                                <li><span>1</span>Mezzanine</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-left-top-right">
                    <div class="news-card w-h-100">
                        <div class="map-detail map-detail-8">
                            <div class="map-back map-back-8">
                                <i class="fas fa-angle-left"></i>
                                <span>Back</span>
                            </div>
                            <div class="mapouter">
                                <div class="gmap_canvas map-100"><iframe width="290" height="275" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=187%20%C4%91%E1%BB%91ng%20%C4%91a%20h%E1%BA%A3i%20ch%C3%A2u&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://www.embedgooglemap.net"></a></div>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 275px;
                                        width: 290px;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 275px;
                                        width: 290px;
                                    }
                                </style>
                            </div>
                        </div>
                        <img src="https://xaynhatro.net/wp-content/uploads/2020/06/mau-thiet-ke-phong-tro-co-gac-lung-dep-hien-dai-o-huong-nam-1.png"
                            alt="" class="news-card__img-cover">
                        <div class="card-title--top">
                            <div class="card-title-top-right">
                                <div class="card-title-top__sale">Rental</div>
                            </div>
                            <div class="card-title-top-left">
                                <div class="card-title-top__heart">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="card-title-top__map top__map-8">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-container">
                            <div class="card-title--bot">
                                <span class="card-price">
                                    <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                                    1 triệu 7
                                    <sub>/Tháng</sub>
                                </span>
                                <h4 class="card-title-name">Nhà trọ Thiên Đức</h4>
                                <div class="card-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    187 Dong Da, Hai Chau
                                </div>
                            </div>
                            <ul class="card-detail">
                                <li><span>1</span>Bedrooms</li>
                                <li><span>2</span>Bathrooms</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-left-bot">
                <div class="grid-left-bot-left">
                    <div class="news-card w-h-100">
                        <div class="map-detail map-detail-9">
                            <div class="map-back map-back-9">
                                <i class="fas fa-angle-left"></i>
                                <span>Back</span>
                            </div>
                            <div class="mapouter">
                                <div class="gmap_canvas map-100"><iframe width="290" height="275" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=24%20Ti%E1%BB%83u%20La&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://www.embedgooglemap.net"></a></div>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 275px;
                                        width: 290px;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 275px;
                                        width: 290px;
                                    }
                                </style>
                            </div>
                        </div>
                        <img src="https://famidecor.com/wp-content/uploads/2019/06/1-1.png" alt=""
                            class="news-card__img-cover">
                        <div class="card-title--top">
                            <div class="card-title-top-right">
                                <div class="card-title-top__sale">Rental</div>
                            </div>
                            <div class="card-title-top-left">
                                <div class="card-title-top__heart">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="card-title-top__map top__map-9">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-container">
                            <div class="card-title--bot">
                                <span class="card-price">
                                    <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                                    1 triệu 9
                                    <sub>/Tháng</sub>
                                </span>
                                <h4 class="card-title-name">Phòng trọ cô Thu</h4>
                                <div class="card-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    24 Tieu La, Hai Chau, Da Nang
                                </div>
                            </div>
                            <ul class="card-detail">
                                <li><span>2</span>Bathrooms</li>
                                <li><span>1</span>Mezzanine</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-left-bot-right">
                    <div class="news-card w-h-100">
                        <div class="map-detail map-detail-10">
                            <div class="map-back map-back-10">
                                <i class="fas fa-angle-left"></i>
                                <span>Back</span>
                            </div>
                            <div class="mapouter">
                                <div class="gmap_canvas map-100"><iframe width="412" height="274" id="gmap_canvas"
                                        src="https://maps.google.com/maps?q=K104%20Tr%E1%BA%A7n%20Cao%20V%C3%A2n%20Thanh%20Kh%C3%AA&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                        href="https://www.embedgooglemap.net"></a></div>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 274px;
                                        width: 412px;
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 274px;
                                        width: 412px;
                                    }
                                </style>
                            </div>
                        </div>
                        <img src="https://img.cdn9h.com/article/2019_6_w4/l_774-phong-tro-voi-thiet-ke-bat-mat.jpeg"
                            alt="" class="news-card__img-cover">
                        <div class="card-title--top">
                            <div class="card-title-top-right">
                                <div class="card-title-top__sale">Rental</div>
                            </div>
                            <div class="card-title-top-left">
                                <div class="card-title-top__heart" onclick="bootstrapAlert()">
                                    <i class="far fa-heart"></i>
                                </div>
                                <div class="card-title-top__map top__map-10">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-bot-container">
                            <div class="card-title--bot">
                                <span class="card-price">
                                    <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                                    2 triệu 3
                                    <sub>/Tháng</sub>
                                </span>
                                <h4 class="card-title-name">Phòng trọ Tấn Phát</h4>
                                <div class="card-location">
                                    <i class="fas fa-map-marker-alt"></i>
                                    K104, Tran Cao Van, Thanh Khe, Da Nang
                                </div>
                            </div>
                            <ul class="card-detail">
                                <li><span>1</span>Bedrooms</li>
                                <li><span>2</span>Bathrooms</li>
                                <li><span>1</span>Mezzanine</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-right">
            <div class="news-card w-h-100">
                <div class="map-detail map-detail-11">
                    <div class="map-back map-back-11">
                        <i class="fas fa-angle-left"></i>
                        <span>Back</span>
                    </div>
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="370" height="570" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=216%20Ng%C5%A9%20H%C3%A0nh%20S%C6%A1n%2C%20B%E1%BA%AFc%20M%E1%BB%B9%20Ph%C3%BA%2C%20Ng%C5%A9%20H%C3%A0nh%20S%C6%A1n%2C%20%C4%90%C3%A0%20N%E1%BA%B5ng&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                href="https://123movies-to.org"></a></div>
                        <style>
                            .mapouter {
                                position: relative;
                                text-align: right;
                                height: 570px;
                                width: 370px;
                            }

                            .gmap_canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 570px;
                                width: 370px;
                            }
                        </style>
                    </div>
                </div>
                <img src="https://suanhanhanh24h.vn/wp-content/uploads/2019/06/64805419_1322512824562510_8199512272268165120_n-685x800.jpg"
                    alt="" class="news-card__img-cover">
                <div class="card-title--top">
                    <div class="card-title-top-right">
                        <div class="card-title-top__sale">Rental</div>
                    </div>
                    <div class="card-title-top-left">
                        <div class="card-title-top__heart">
                            <i class="far fa-heart"></i>
                        </div>
                        <div class="card-title-top__map top__map-11">
                            <i class="fas fa-map-marked-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="card-bot-container">
                    <div class="card-title--bot">
                        <span class="card-price">
                            <img src="./src/public/img/vnd.svg" class="vnd-icon" alt="">
                            4 triệu
                            <sub>/Tháng</sub>
                        </span>
                        <h4 class="card-title-name">Phòng trọ Nữ</h4>
                        <div class="card-location">
                            <i class="fas fa-map-marker-alt"></i>
                            216 Ngu Hanh Son, Da Nang
                        </div>
                    </div>
                    <ul class="card-detail">
                        <li><span>1</span>Bedrooms</li>
                        <li><span>1</span>Bathrooms</li>
                        <li><span>0</span>Mezzanine</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-see-more container see-more-2"><a href="#">See More ...</a></div>

<div class="w-100">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-review" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="cus-title"><span>CUSTOMER</span>REVIEW</h3>
                    <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" alt="" class="cus-avatar">
                    <p class="cus-rev">Đội ngũ support thân thiện. Website là cầu nối giúp người thuê trọ như tôi dễ dàng tìm kiếm trọ hơn rất nhiều <3</p>
                    <h5 class="cus-name">Duy Phong Bui</h5>
                    <h6 class="cus-pos">Customer</h6>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="cus-title"><span>CUSTOMER</span>REVIEW</h3>
                    <img src="https://images.pexels.com/photos/1496647/pexels-photo-1496647.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="cus-avatar">
                    <p class="cus-rev">Có nhiều phòng trọ đẹp, giá thành phải chăng, địa chỉ lý tưởng, rất phù hợp với sinh viên như chúng tôi <3</p>
                    <h5 class="cus-name">Nam Nguyễn</h5>
                    <h6 class="cus-pos">Tenant</h6>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="cus-title"><span>CUSTOMER</span>REVIEW</h3>
                    <img src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="" class="cus-avatar">
                    <p class="cus-rev">Với tư cách là một chủ trọ, tôi vô cùng biết ơn vì website đã giúp tôi quản lí trọ một cách dễ dàng, nhanh chóng, an toàn, thông minh hơn rất nhiều <3</p>
                    <h5 class="cus-name">Tuấn Vũ</h5>
                    <h6 class="cus-pos">Host</h6>
                </div>
            </div>
        </div>
    </div>
</div>






{{!-- Homepage-flag not display to tell Jquery is homepage --}}
<span id="homepage-flag" style="display: none"/>